/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

body
{
  background-color: skyblue;
}
 .main_wrapper
 {
   width: 1000px;
   margin: auto;
   height: auto;
 }

 .header_wraper
 {
   width: 1000px;
   height: 100px;
   margin: auto;
 }
 #logo
 {
   float: left;
 }
 #banner
 {
   float: right;
 }
.content_wrapper
{
  width: 1000px;
  margin: auto;
  background-color: pink;
}
#content_area
{
  width: 800px;
  float: right;
  background-color: pink;
}
#sidebar
{
width: 200px;
background-color: black;
float: left;
}
#sidebar_content
{
  background-color: #fff;
  color: black;
  font-size: 22px;
  font-family: arial;
  padding: 10px;
  text-align: center;

}
#cats
{
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 5px;
}
#cats a{
  text-decoration: none;
  color: #fff;
  padding: 8px;
  margin: 10px;
  text-align: center;
  font-size: 25px;
  font-family: comic sans ms;
}
#cats a:hover
{
  text-decoration: underline;
  color: orange;
  font-weight: bolder;
}
.menuebar
{
  width: 1000px;
  height: 50px;
  background-color: grey;
  color: white;
}
#menue
{
margin: 0;
padding: 0;
line-height: 40px;
float: left;
}
#menue li
{
  display: inline;
  list-style: none;
}
#menue a
{
text-decoration: none;
color: #fff;
font-family: COMIC SANS MS;
padding: 8px;
margin: 5px;
font-size: 18px;
}

#menue a:hover
{
  text-decoration: underline;
  color: orange;
  font-weight: bolder;
}
#form
{
  float: right;
  padding-right: 8px;
  line-height: 40px;
}

#footer
{
  height: 100px;
  width: 1000px;
  background-color: grey;
  clear: both;
  margin: auto;
}
#footer #copyright
{
	text-align: center;
	padding-top: 30px;

}
